#Add the permission for encryption back
#Copyright (c) 2024 Qualcomm Innovation Center, Inc. All rights reserved.
#SPDX-License-Identifier: BSD-3-Clause-Clear

type persist_file, file_type;
#allow vendor_init mnt_product_file:dir create;
allow vendor_init vold_metadata_file:dir search;
allow vendor_init vold_metadata_file:file { read open getattr };

